#debug {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 5px;
    font-family: monospace;
    border: 2px solid white;
    padding: 1em;
    min-width: 20vw;
    background: rgb(40, 42, 54);
    -webkit-transition: all .5 ease 0;
    -moz-transition: all .5 ease 0;
    transition: all .5 ease 0;
}

#debug:hover li:hover {
    border-radius: 15px;
    color: rgb(40, 42, 54);
    font-weight: bold;
    transform: scale(1.1, 1.1);
    background: white;
    cursor: pointer;
}